<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
    <h4><strong><%= dose.description %></strong> Doses Of <strong><%= dose.ingredient.name %></strong></h4>
<% end %>

<%= link_to 'Add Dose',  new_cocktail_dose_path(@cocktail), class: 'btn btn-primary'  %>
<%= link_to "Back to Drinks List",  cocktails_path, class: 'btn btn-primary'  %>