<div class="container mt-5">

    <h2>
        <%= @cocktail.name %> 
        <i class="fas fa-cocktail"></i>
    </h2>

    <div class="table-responsive mt-5">
        <table class="table table-dark table-striped text-center">
            <thead>
                <tr>
                    <%# < scope="col"><%= @cocktail.name %>
                    <th scope="col">Doses</th>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% @cocktail.doses.each do |dose| %>
                        <tr>
                            <%# <th scope="row"><%= @cocktail.doses.find_index(dose) + 1 %>
                            <td><%= dose.description %></td> 
                            <td><%= dose.ingredient.name %></td>
                            <td>
                                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete Dose?" } do %>
                                        <i class="fas fa-trash"></i>
                                <% end %>
                            </td>
                        </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <%= link_to 'Add Dose',  new_cocktail_dose_path(@cocktail), class: 'btn btn-gradient'  %>
    <%= link_to "Back to Drinks List",  cocktails_path, class: 'btn btn-gradient'  %>

</div>