<div class="container p-5">
  <h2>Add Doses</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: "Dose Description" %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.submit class: 'btn btn-gradient mt-2' %>
      <%= link_to "Back to #{@cocktail.name}",  cocktail_path(@cocktail), class: 'btn btn-gradient mt-2'  %>
  <% end %>

  <%# <%= f.association :ingredients, collection: Ingredient.all %>
</div>