<h1>Add Doses</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%# <%= f.association :ingredients, collection: Ingredient.all %>
<%= link_to "Back to #{@cocktail.name}",  cocktail_path(@cocktail), class: 'btn btn-primary'  %>